<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>고객넘버</th>
                <th>ID</th>
                <th>이름</th>
                <th>생년월일</th>
                <th>예약정보</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.loginId}"></td>
                <td th:text="${member.name}"></td>
                <td th:text="${member.birth}"></td>
                <td><a href="/bookings">검색</a> </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>