<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:action="@{/events/new}" th:object="${form}" method="post">
        <div class="form-group">
            <label th:for="name">이벤트 이름</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">인원</label>
            <input type="number" th:field="*{peopleNumber}" class="form-control" placeholder="인원수를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="stockQuantity">주소(위치)</label>
            <input type="text" th:field="*{address}" class="form-control" placeholder="주소을 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />

</div>
</body>
</html>