<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이벤트명</th>
                <th>인원수</th>
                <th>주소</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event : ${events}">
                <td th:text="${event.id}"></td>
                <td th:text="${event.name}"></td>
                <td th:text="${event.peopleNumber}"></td>
                <td th:text="${event.address}"></td>
                <td>
                    <a href="#" th:href="@{/events/{id}/edit (id=${event.id})}"
                       class="btn btn-primary" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div>
</body>
</html>