<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>JOIN</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</head>
<body>

<section class="colored-section" id="title">

    <div class="container-fluid">

        <!-- Nav Bar -->

        <nav class="navbar navbar-expand-lg navbar-dark">

            <a class="navbar-brand" href="/">JOIN</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:text="|${member.loginId}|" href="/"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:action="@{/logout}" method="post" href="/login" type="submit">logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/members">account</a>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="row">

        </div>

    </div>

</section>


<section class="white-section" id="features">

    <div class="container-fluid">

        <div class="row">
            <div class="feature-box col-lg-4">
                <i class="icon fas fa-heart fa-4x"></i>
                <h3 class="feature-title"><a href="/events">이벤트 목록</a></h3>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icon fas fa-bullseye fa-4x"></i>
                <h3 class="feature-title"><a href="/booking">이벤트 예약</a></h3>
            </div>

            <div class="feature-box col-lg-4">
                <a href="/posts" i class="icon fas fa-check-circle fa-4x"></i></a>
                <h3 class="feature-title"><a href="/events/new">이벤트 등록</a></h3>
            </div>
        </div>


    </div>
</section>

</body>
</html>
























<!--




<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JOIN</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>로그인후 화면</h2>
    </div>
    <h4 class="mb-3" th:text="|로그인: ${member.loginId}|">로그인 사용자 이름</h4>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <a class="btn btn-lg btn-dark" href="/events/new">이벤트 등록</a>
        </div>
        <div class="col">
            <a class="btn btn-lg btn-info" href="/booking">이벤트 예약</a>
            <a class="btn btn-lg btn-info" href="/bookings">예약 내역</a>
        </div>
        <div class="col">
            <form th:action="@{/logout}" method="post">
                <button class="w-100 btn btn-dark btn-lg" type="submit">
                    로그아웃
                </button>
            </form>
        </div>
    </div>
    <hr class="my-4">
</div> <!-- /container -->
</body>
</html>
-->